* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}
body,
html {
	height: 100%;
	width: 100%;
}
body {
	background-image: url('../imgs/pexels-photo-3510940.jpeg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-color: #332e2e;
}
.to-do-container {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-areas: 'left right';
}

.app {
	width: 100%;
	height: 100%;
	display: grid;
	grid-area: left;
	justify-content: center;
}

.welcome {
	/* font-family: 'PT Serif', serif; */
	/* border-radius: 5px 30px 15px 20px; */
	align-self: end;
}
.welcome h3 {
	background-color: rgba(0, 0, 0, 0.3);
	color: black;
	color: lightgrey;
	text-align: center;
}

.app-container {
	width: 100%;
	/* height: 100%; */
	display: grid;
	justify-content: start;
	align-content: center;
	gap: 2px;
}

.inputs {
	display: grid;
	grid-template-columns: 1fr 50px;
	/* margin-bottom: 5px; */
	width: 600px;
	height: 100%;
}

.inputs > input,
button {
	border: none;
	background-color: white;
	opacity: 0.8;
	padding: 5px;
}

.inputs > input {
	font-size: 1vmax;
	font-weight: bold;
	font-family: 'PT Serif', serif;
}
.inputs > button {
	border-left: 1px solid black;
	cursor: pointer;
}
.inputs > button:hover {
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
}

#list-container {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 3px;

	height: 500px;
	overflow: auto;
}

.info {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	height: 50px;
	color: lightgrey;
}

.info > button {
	border: none;
	background-color: rgba(0, 0, 0, 0.9);
	font-size: 0.65vmax;
	color: lightgrey;
	width: 40px;
	cursor: pointer;
}

.info > button:hover {
	background-color: rgba(140, 4, 4, 0.9);
	color: black;
}

.info-input {
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-content: center;
	align-content: center;
	gap: 20px;
	color: #f7f7f7;
}
.incomingValue {
	font-size: 1.1vmax;
	font-family: 'PT Serif', serif;
}

.checkbox {
	margin-left: 5px;
}

.time {
	font-size: 0.65vmax;
	align-self: center;
	color: white;
}
.checked {
	text-decoration: line-through lightgrey;
}
.checked-list {
	background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1060px) {
	.to-do-container {
		background-color: rgba(0, 0, 0, 0.2);
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-areas:
			'right'
			'left';
		gap: 50px;
	}
}

/*timer part */

.left-side {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	color: white;
	grid-area: right;
	display: grid;
	justify-content: center;
	align-content: center;
}

.half-circle {
	width: 320px;
	height: 200px;
	border-radius: 310px 310px 0 0;
	border: 7px solid #332e2e;
	border-bottom: 10px;
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 40px;
	padding-top: 90px;
}
.time-in-circle {
	font-size: 2vw;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#data-in-circle {
	text-align: center;
	font-size: 1vw;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shake {
	animation: shake 0.5s;
	animation-iteration-count: 3.2s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

#clear {
	background-color: #d1d1d1;
	transition: background-color 2s;
}
#clear:hover {
	background-color: rgb(29, 26, 26);
	color: white;
	cursor: pointer;
	transform: all 0.2s;
}
